---
import { getCollection } from "astro:content";
import { getImage } from "astro:assets";
import SiteLayout from "../../../layouts/SiteLayout.astro";
import {
  useTranslations,
  localePath,
  alternateLang,
  getLocalizedObject,
  dateLocales,
} from "../../../i18n/translations";
import Gallery from "../../../components/Gallery.svelte";

export function getStaticPaths() {
  return [
    { params: { lang: undefined }, props: { lang: "en" as const } },
    { params: { lang: "de" }, props: { lang: "de" as const } },
  ];
}

const { lang } = Astro.props;
const t = useTranslations(lang);
const prefix = localePath(lang);

const paintings = await Promise.all(
  (await getCollection("paintings"))
    .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
    .map(async (rawItem) => {
      const data = getLocalizedObject(rawItem.data, lang);
      if (data.image) {
        const result = await getImage({
          src: data.image,
          format: "webp",
          width: 250,
        });
        (data as any).image = {
          src: result.src,
          width: result.attributes.width,
          height: result.attributes.height,
        };
      }
      return { ...rawItem, data };
    }),
);

console.log(paintings, "paintings");
---

<SiteLayout
  lang={lang}
  title={t("paintings.title")}
  altHref={`${localePath(alternateLang(lang))}/paintings`}
>
  <main>
    {paintings.length > 0 && <Gallery items={paintings} client:load />}
  </main>
</SiteLayout>
