---
import { useTranslations } from '../../i18n/translations';
const t = useTranslations('de');
---

<html lang="de">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Pauli Schlipf</title>
  </head>
  <body>
    <nav>
      <a href="/de">{t('nav.home')}</a>
      <a href="/de/works">{t('nav.works')}</a>
      <a href="/de/installations">{t('nav.installations')}</a>
      <a href="/" lang="en">English</a>
    </nav>
    <main>
      <h1>Pauli Schlipf</h1>
    </main>
  </body>
</html>
