---
import Navbar from "../components/Navbar.astro";
const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Pauli Schlipf - {title}</title>
  </head>
  <body>
    <Navbar />
    <h1>{title}</h1>
    <article>
      <slot />
    </article>
  </body><style>
    h1 {
      font-size: 2rem;
    }
  </style>
</html>
